*{
  margin: 0;
  padding: 0;
}

/*----------------header用------------------*/
header{
  height: 150px;
  width: 100%;
  margin-bottom: 10px;
}
.nav-list{
  height: 40%;
  width: 100%;
  background-color: snow;
}
.left{
  float: left;
  width: 35%;
  height: 100%;
  padding-top: 1%;
  padding-left: 1%;
}
.logo{
  height: 100%;
  width: 200px;
}


.right{
  margin-top: 10px;
  float: right;
}
.right a{
  padding: 14px 16px;
  text-decoration: none;
}

.right a:hover {
  background-color: gray;
}

/*
項目リスト
 */
.member{
  padding-top: 2%;
  height: 40%;
  width: 100%;
  /*margin-left: 5%;
  margin-right: 5%;*/
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
  padding-bottom: 2%;
}

.member_list{
  height: 100%;
  width: 15%;
  float: left;
  /*background-color: lightcyan;*/
  text-align: center;
}
.member_list a{
  text-decoration: none;
}
.member_list a:hover{
  /*background-color: gray;*/
}

.twitter_icon{
  height: 100%;
}

/*-------------------------------------------*/
/*----------------body-----------------------*/
body{
  height: 100%;
  background-color: snow;
  margin:auto;
}
/*
.main{
  width: 100%;
  position: relative;
  min-height: 100px;
}
.content{
  padding-bottom: 100px;
}
/*------------title----------------*/
.title{
  width: 100%;
  height: 50%;
  text-align: center;
}
.title img{
  width: 80%;
  height: 80%;
}
/*---------------------------------*/

.slider{
  margin-top: 5%;
  margin-left: 15%;
}
.list{
  margin-left: 15%;
  margin-bottom: 10%;
}
.button{
  width:  100%;
}

.youtube{
  margin-left: 25%;
}
/*-----------gamelist--------------*/
.game-list{
  display: inline-block;
  vertical-align: top;
  width: 80%;
  top: 0;
  padding-left: 7%;
  padding-top: 10%;
}

.game-list table{
  width: 100%;
  height: 100%;
}
.game-list table img{
  width: 100%;
}

.table_font{
  font-size: 120%;
}

/*---------------------------------*/
/*----------Twitter----------------*/
.Twitter{
  display: inline-block;
  vertical-align: top;
  float: right;
  width: 20%;
  padding: 2%;
  border-style: double;
  margin-right: 7%;

}
/*---------------------------------*/
.afi{
  margin-top: 20px;
  padding: 10px;
}

/*-------------------------------------------*/
/*-------------fotter用----------------------*/
footer{
  background-color: cornsilk;
  width: 100%;
  height: 50px;
  text-align: center;
  position: fixed;
  bottom: 0;
}
/*------------------------------------------*/
