*{
  margin: 0;
  padding: 0;
}

/*----------------header用------------------*/
header{
  height: 50px;
  width: 100%;
  background-color: White;
}
.nav-list{
  height: 100%;
  width: 100%;
}
.left{
  margin-top: 10px;
  margin-left: 10px;
  float: left;
  width: 20%
}
.right{
  margin-top: 10px;
  float: right;
}
.right a{
  padding: 14px 16px;
  text-decoration: none;
}

.right a:hover{
  background-color: gray;
}

.twitter_icon{
  height: 100%;
}

/*-------------------------------------------*/
/*----------------body-----------------------*/
body{
  height: 100%;
  background-color: #51EBFF;
  margin:auto;
}
.main{
  width: 100%;
  position: relative;
  height: 100%;
  min-height: 100px;
}
.content{
  padding-bottom: 100px;
}
/*------------title----------------*/
.title{
  width: 100%;
  height: 50%;
  text-align: center;
}
.title img{
  width: 80%;
  height: 80%;
}
/*---------------------------------*/

/*-----------gamelist--------------*/
.game-list{
  display: inline-block;
  vertical-align: top;
  width: 70%;
  top: 0;
}

.game-list table{
  width: 100%;
  height: 100%;
}
.game-list table img{
  width: 100%;
}

.table_font{
  font-size: 120%;
}

/*---------------------------------*/
/*----------Twitter----------------*/
.Twitter{
  display: inline-block;
  vertical-align: top;
  float: right;
  width: 20%;
  padding-right: 2%;
}
/*---------------------------------*/


/*-------------------------------------------*/
/*-------------fotter用----------------------*/
footer{
  background-color: #51EBFF;
  width: 100%;
  height: 100px;
  text-align: center;
  position: fixed;
  bottom: 0;
}
/*------------------------------------------*/
